<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.oliver.sdk">

    <application>
        <service
            android:name=".service.SerialService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.oliver.sdk.SerialService"/>
            </intent-filter>
        </service>
    </application>

</manifest>